<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYPageController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33E55D941EB32C7B0046DD5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E55DAD1EB32C7C0046DD5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E55DB81EB32C7C0046DD5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
